/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/bower_components/
/node_modules/
/web/bundles/
/web/uploads/
kiaoro.sublime-project
kiaoro.sublime-workspace

