{% extends '::base.html.twig' %}

{% block body -%}
    <!--<h1>Wishlist creation</h1>-->

	<form action="#" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	</form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('wishlist') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
